{% extends "default.html" %}
{% block body %}
<h2 class="text-center heading"></h2>
<div class="container">
    <div class="card" style="width:500px">
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example
                asdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadf;lsakfk
                ask;f sakssa; ksadlfksadf;ksdl.</p>
        </div>
    </div>
    <div class="card card-test" style="width:500px">
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example
                asdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadf;lsakfk
                ask;f sakssa; ksadlfksadf;ksdl.</p>
        </div>
    </div>
       <div class="card" style="width:500px">
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example
                asdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadf;lsakfk
                ask;f sakssa; ksadlfksadf;ksdl.</p>
        </div>
    </div>   <div class="card" style="width:500px">
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example
                asdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadf;lsakfk
                ask;f sakssa; ksadlfksadf;ksdl.</p>
        </div>
    </div>   <div class="card" style="width:500px">
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example
                asdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadf;lsakfk
                ask;f sakssa; ksadlfksadf;ksdl.</p>
        </div>
    </div>   <div class="card" style="width:500px">
        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example
                asdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadfasdasdasdasdasdsadf;lsakfk
                ask;f sakssa; ksadlfksadf;ksdl.</p>
        </div>
    </div>
</div>
{% endblock %}